body {
    font-family:Georgia, 'Times New Roman', Courier, monospace, Times, serif;
    background: linear-gradient(to right top, 
    #65dfc9, #6cdbeb);
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 60%;
    margin: 15px auto;
    background: linear-gradient(to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
    );
    border-radius: 2rem;
}

.intro {
    margin: 0px;
    background: linear-gradient(to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
    );
    color: #333;
    padding: auto;
    border-radius: 2rem 2rem 0 0;
}
.intro h1 {
    margin: 0;
    margin-top: 20px;
    font-size: 36px;
    text-align: center;
    align-items: center;
}
header p {
    margin: 10px 10px;
    padding: 10;
    font-size: 1.2rem;
    font-family: 'poppins';
    line-height: 1.5;
}

.sections {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.section1 {
    padding: 10px;
    display: grid;
    grid-template-rows: 2;
    grid-template-columns: 2fr;
}

.section2 {
    background: linear-gradient(to right bottom,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.3)
    );
    border-radius: 0 0 2rem 2rem;
}

blockquote {
    margin-bottom: 5rem;
}
aside {
    margin: 0 auto;
    text-align: center;
    align-items: center;
    padding: 25px;

}

.favorites {
    margin-top: 5rem;
}
.resource {
    margin-top: 6rem;
    padding: 20px;
}

ul {
    list-style-type: none;
    padding: 10px;
    margin: 10px;
}

blockquote p {
    font-size: 1.5rem;
}

img {
    width: 32%;
    height: 32%;
}